/* general information */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* header - fonts and logo */
#rhidian {
    color: red;
    margin-left: 120px;
}

h1 {
    font-size: 90px;
}

#logo {
    height: 75px;
    margin-left: 8%;
    margin-top: 1%;
}
#rhidian, #logo, #links {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

/* navigation links in header */

#links {
    float: right;
    margin-right: 10px;
}
#menu {
    font-size: 140%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    height: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

/* body formatting and styles - includes title image*/


body {
    font-family: Didact Gothic, sans-serif;
    font-weight: 400;
    color: black;
}


#title-image {
    float: left;
    margin-left: 10%;
    max-height: 200px;
    max-width: 300px;
}

#about-me {
    float: right;
    margin-right: 10%;
}

h2, p {
    padding: 10px;
    text-align: center;
    width: 300px;
}


#title-image, #about-me {
    display: inline-block;
    padding-top: 10px;
}

/* footer formats and styles */
.next-round {
    text-decoration: none;
    padding: 8px 16px;
  }
  
.next-round:hover {
    background-color: #ddd;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }

/* picture formats and styles*/


/* form formats and styles*/

.contact-form {
    margin: 150px 10% 0 0 ;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form > h3 {
    color: #fafafa;
    margin-bottom: 20px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* media changes for different window sizes */