/* general information */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* header - fonts and logo */
#rhidian {
    color: red;
    padding-left: 30px;
}

h1 {
    font-size: 4rem;
}

#logo {
    height: 60px;
    width: 60px;
}

#rhidian, #logo, #links {
    display: inline-block;
    text-align: center;
}

header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.active {
    border-bottom: 1px solid black;
}
/* navigation links in header */

#links {
    color: black;
}
#menu {
    font-size: 1.4rem;
    letter-spacing: 3px;
    line-height: 100px;
}

#menu li {
    list-style-type: none;
    margin-right: 10px;
    float: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid grey;
    color: grey;
}


/* body formatting and styles - includes title image*/


body {
    font-family: Didact Gothic, sans-serif;
    font-weight: 400;
    color: black;
    background-color: #F0EAD6;
}


#title-image {
    width: 100%;
    text-align: center;
}

#title-pic {
    text-align: center;
}



#about-me-header, .about-me-text {
    padding: 10px;
    text-align: center;
    width: 300px;
}

/* footer formats and styles */

.footer-text {
    font-size: 0.6rem;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

/* picture formats and styles*/

#subjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#subjects > div{
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

#subjects > div > img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: 40%;
}


/* form formats and styles*/

#contact, #about-me {
    display: inline-block;
    margin-left: 12.5%;
}

.contact-form {
    color: black;
    background-color: rgba(117, 117, 117, 0.6);
    height: 325px;
    width: 400px;
    padding: 30px;
    text-align: left;
    margin-left: 10%;
}

.contact-form > h3 {
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.text-input {
    display: inline-flex;
  flex-direction: column;
  margin: 0;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: black;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

label {
    width: 200px;
    vertical-align: middle;
}



/* media changes for different window sizes */

/* for larger screen sizes - no change is necessary */

/* for medium screen sizes*/

@media screen and (max-width:950px) {

#subjects > div > img{
    height: 300px;
    width: 225px;
    object-fit: cover;
}

#contact, #about-me {
    display: inline-block;
    margin-left: 5%;
}

.footer-text {
    position: unset;
}


}