/* general information */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* header - fonts and logo */
#rhidian {
    color: purple;
    margin-left: 120px;
}

h1 {
    font-size: 90px;
}

#logo {
    width: 50px;
    height: auto;
    margin-left: 8%;
}
#rhidian, #logo, #links {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
}

/* navigation links in header */

#links {
    float: right;
    margin-right: 10px;
}
#menu {
    font-size: 140%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    height: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

/* body formatting and styles - includes title image*/


body {
    font-family: Didact Gothic, sans-serif;
    font-weight: 400;
    color: black;
}


#title-image {
    float: left;
    margin-left: 10%;
    max-height: 400px;
    max-width: 600px;
}

#about-me {
    float: right;
    margin-right: 10%;
}

h2, p {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 300px;
}


#title-image, #about-me {
    display: inline-block;
    padding-top: 10px;
}

/* footer formats and styles */


/* picture formats and styles*/


/* form formats and styles*/

.contact-form {
    margin: 150px 10% 0 0 ;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form > h3 {
    color: #fafafa;
    margin-bottom: 20px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* media changes for different window sizes */